*{
    padding: 0px;
    margin: 0px;
}
html, body{
    font-family: "Rubik";
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;


    width: 100%;
    height: 100%;
    gap: 10px;
}
#score{
    width: 300px;           
    height: 100px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.205);

    display: flex;
    flex-direction: row;
}
#start{
    width: 250px;
    height: 30px;
    background-color: rgb(214, 214, 214);
    border: rgb(192, 192, 192) solid 5px;
    border-radius: 15px;
    text-align: center;
    color: #54575a;
}
#start h2{
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;   
}
#start:hover{
    transition: background-color ease-in-out 0.1s, border ease-in-out 0.1s, color ease-in-out 0.1s;

    color: #1f2020;
    background-color: rgb(179, 179, 179);
    border: rgb(148, 148, 148) solid 5px;

    cursor: pointer;
}
.colMain{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#intervalsButtons{
    width: 35%;    
    height: 670px;
    background-color: rgb(230, 230, 230);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 25px;
}
.col{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#triton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}
.intervalBox{
    background-color: #A0A0A0;
    border: #5E6469 solid 5px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.205);
    width: 220px;
    height: 60px;
    border-radius: 30px;

    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.disable{
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 25px;
    background-color: gainsboro;
    height: 100%;
    width: 60px;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
}
.disable img{
    width: 85%;
    height: 85%;
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;  
}
.disable:hover{
    cursor: pointer;
    background-color: rgb(206, 206, 206);
}
#controls{
    width: 40%;
    height: 60px;

    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
.controlsButton{
    width: 33%;
    height: 60px;
    background-color: rgb(214, 214, 214);
    border: rgb(192, 192, 192) solid 5px;
    border-radius: 15px;
    color: #54575a;

    display: flex;
    justify-content: center;
    align-items: center;
}
.controlsButton h2{
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;   
}
.controlsButton:hover{
    transition: background-color ease-in-out 0.1s, border ease-in-out 0.1s, color ease-in-out 0.1s;

    color: #1f2020;
    background-color: rgb(179, 179, 179);
    border: rgb(148, 148, 148) solid 5px;
    cursor: pointer;
}
select{
    width: 33%;
    height: 70px;
    background-color: rgb(214, 214, 214);
    border: rgb(192, 192, 192) solid 5px;
    border-radius: 15px;
    font-family: "Rubik";
    font-weight: bold;
    color: #54575a;
    font-size: 17px;
}
select:hover{
    transition: background-color ease-in-out 0.1s, border ease-in-out 0.1s, color ease-in-out 0.1s;

    color: #1f2020;
    background-color: rgb(179, 179, 179);
    border: rgb(148, 148, 148) solid 5px;

    cursor: pointer;
}
#good{
    background-color: #78C1A3;
    border-radius: 20px 0px 0px 20px;
    width: 50%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
#goodCounter{
    color: white;
    font-size: 60px;
    margin-bottom: 30px;

    
}
#bad{
    background-color: #F38989;
    border-radius: 0px 20px 20px 0px;
    width: 50%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

}
#badCounter{
    color: white;
    font-size: 60px;
    margin-bottom: 30px;
}
.blackBarRight{
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.288);
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    border-radius: 0px 0px 20px 0px ;

    display: flex;
    align-items: center;
    justify-content: center;
}
.blackBarRight h2{
    color: rgb(211, 211, 211);
    font-size: 22px;
}
.blackBarLeft{
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.288);
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    border-radius: 0px 0px 0px 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.blackBarLeft h2{
    color: rgb(211, 211, 211);
    font-size: 22px;
}
.unableToClick{
    pointer-events: none;
}
.backgroundChange{
    background-color: #776161;
    border: #2c2323 solid 5px;

    transition: background-color 0.1s ease-in-out, border 0.05s ease-in-out;
}
.fix{
    position: absolute;
    top: 0px;
    left: 50px;
    background-color: rgba(99, 99, 99, 0);
    width: 160px;
    height: 60px;
    cursor: pointer;
}

#popup{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 40%;
    background-color: #F38989;
    border: #a85858 solid 1vh;
    transform: translate(-50%, -50%);

    border-radius: 15px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.205);

    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1%;
    visibility: hidden;

    z-index: 9999;
}
#popup h1{
    font-size: 5vh;
}
#popup p{
    font-size: 3vh;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.137); 
  z-index: 8000; 
  display: none; 
}
#goBackButton{
    margin-top: 2vh;
    width: 15vh;
    height: 5vh;
    background-color: rgb(214, 214, 214);
    border: rgb(192, 192, 192) solid 0.5vh;
    border-radius: 2vh;
    color: #54575a;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: bold;
    font-size: 2vh;
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;   
    cursor: pointer;
}
#goBackButton:hover{
    background-color: rgb(175, 175, 175);
    border: rgb(163, 163, 163) solid 0.5vh;
    transition: background-color ease-in-out 0.1s, border ease-in-out 0.1s, color ease-in-out 0.1s;
}